extends layout

block content
  .row
    .content.medium-3.columns
      img(src='images/10501971_1555432795190183_6167609998447912512_f.jpg', alt='slide 1a')
    .content.medium-3.columns
      img(src='images/105v3871_15214327951f0183_6a6760999848s912512_b.jpg', alt='slide 1b') 
    .content.medium-3.columns
      img(src='images/11083611_1554432841793845_479855237866343834_j.jpg', alt='slide 3') 
    .content.medium-3.columns
      img(src='images/1104w379_1a6099731x507064_w094680157s41185142_c.jpg', alt='slide 4')           
    .content.medium-12.large-12.columns
      h4 Work today
      article.post
        img.author(alt='person', src='images/logo-hi-res.png')
        h2
          | Icebergs in Newfoundland and Labrador
        p.subheader
          | By 
          a(href='http://www.ec.gc.ca/?lang=En', target='_blank') Environment Canada
        p
          | An iceberg is a massive piece of ice of greatly varying shape, protruding 5 metres or more above sea-level, which has broken away from a glacier and which may be afloat or aground. About 90% of all icebergs encountered in Canadian waters are calved from the glaciers of Western Greenland. That adds up to between 10,000 to 40,000 icebergs annually.  
        a.ghost.button(href='http://www.ec.gc.ca/?lang=En', target='_blank') Read it ↬
      h4 Recent research
      