extends layout

block content
  script(type='text/javascript', src='/javascripts/vendor/jquery.js')
  script(type='text/javascript', src='/javascripts/foundation.min.js')
  script(type='text/javascript').
    $(document).foundation();
  nav.top-bar(data-topbar='', role='navigation')
    ul.title-area
      li.name
        h1
          a(href='#') #{title}
      //Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone
      li.toggle-topbar.menu-icon
        a(href='#')
          span Menu
    section.top-bar-section
      ul.right
        li.active
          a(href='#') Research team
        li.has-dropdown
          a(href='#') Executive Summary
          ul.dropdown
            li
              a(href='#') Icebergs in Newfoundland and Labrador
            li.active
              a(href='#') Being a global leader in Arctic Science
      ul.left
        li
          a(href='#') Situation analysis
  //.row.full
  .row
    img(src='http://www.aber.ac.uk/greenland/images/imagery/russell/laser_mark.jpg', alt='slide 1')
    .content.medium-12.large-12.columns
      h4 Work today
      article.post
        //img.author(alt='person', src='http://www.aber.ac.uk/greenland/images/imagery/russell/laser_mark.jpg')
        h2 Climate change and Greenland Ice Sheet (Western Greenland)
        p.subheader
          | By 
          a(href='http://www.williamcolgan.net/', target='_blank') William Colgan, Ph.D.
          |  Credit: 
          a(href='http://www.aber.ac.uk/greenland/imagery.shtml', target='_blank') Sam Doyle
        p
          | GEUS estimated that between 2007 and 2011 the Greenland ice sheet alone, not counting all the peripheral glaciers in Greenland, lost 262 Gt of ice per year. That works out to about 8300 tonnes per second. That means the Greenland ice sheet probably weighs 250,000 tonnes less than when you started reading this report. No wonder we can measure its mass loss by gravitational anomalies. The ice sheet is currently losing mass via both surface runoff (the difference between accumulation and melt) and ice dynamics (the production of icebergs). Our research group estimates that runoff comprised about 61 per cent of the ice sheet’s mass loss, or about 5000 tonnes per second, with iceberg production comprising the remaining 3300 tonnes per second of mass loss. Some big numbers that confirm the Greenland ice sheet is presently raising global mean sea level by about 0.73 mm per year 
          a(href='http://www.igsoc.org/blog/', target='_blank') [publications of International Glaciological Society] 
        a.ghost.button(href='http://williamcolgan.net/blog/?p=247', target='_blank') Read it ↬
      h4 Recent research
      