extends layout

block content
  .row
    .content.medium-12.large-12.columns
      img(src='images/10501871_1551432795130183_6267609998487912512_n.jpg', alt='slide 1') 
      img(src='images/11082611_1551432841796845_459855237866043834_n.jpg', alt='slide 2')
      img(src='images/11042611_1501432841796845_559855237867043834_m.jpg', alt='slide 3')     
      img(src='images/11043379_1560997317507064_6094680157441185142_o.jpg', alt='slide 1')           
    .content.medium-12.large-12.columns
      h4 Work today
      article.post
        //img.author(alt='person', src='http://www.aber.ac.uk/greenland/images/imagery/russell/laser_mark.jpg')
        h2 Climate change and Greenland Ice Sheet (Western Greenland)
        p.subheader
          | By 
          a(href='http://www.williamcolgan.net/', target='_blank') William Colgan, Ph.D.
        p
          | The Geological Survey of Denmark and Greenland (GEUS) estimated that between 2007 and 2011 the Greenland ice sheet alone, not counting all the peripheral glaciers in Greenland, lost 262 Gt of ice per year. That works out to about 8300 tonnes per second. That means the Greenland ice sheet probably weighs 250,000 tonnes less than when you started reading this report. No wonder we can measure its mass loss by gravitational anomalies. The ice sheet is currently losing mass via both surface runoff (the difference between accumulation and melt) and ice dynamics (the production of icebergs). Our research group estimates that runoff comprised about 61 per cent of the ice sheet’s mass loss, or about 5000 tonnes per second, with iceberg production comprising the remaining 3300 tonnes per second of mass loss. Some big numbers that confirm the Greenland ice sheet is presently raising global mean sea level by about 0.73 mm per year. 
          a(href='http://www.igsoc.org/blog/', target='_blank') Publications of International Glaciological Society.
        a.ghost.button(href='http://williamcolgan.net/blog/?p=247', target='_blank') Read it ↬
      h4 Recent research
    .content.medium-12.large-12.columns
      article.post
        //img.author(alt='person', src='http://www.aber.ac.uk/greenland/images/imagery/russell/laser_mark.jpg')
        h2 The new combination of radar-derived ice thickness observations and sea water pressure near the front of glacier
        p.subheader
          | By 
          a(href='http://igras.ru/en/staff/97', target='_blank') Ivan Lavrentiev, Ph.D. 
          | and 
          a(href='http://www.unis.no/35_STAFF/staff_webpages/technology/aleksey_marchenko/default.htm', target='_blank') Aleksey Marchenko, Prof.

        p
          | Results of oceanographic measurements carried out, from the sea ice surface in the Tempelfjorden near the Tunabreen front in Svalbard are presented. Two temperature and pressure recorders were deployed on a wire from the ice approximately 300 m from the glacier front. The sampling time interval was 1 s. A pressure recorder was located under them on the bottom with a sampling interval of 6 s. Pressure oscillations on the bottom with a period of 90 s and ice cover oscillations with periods of 10 s and 14 s were recorded. The conclusion is made that the recorded oscillations of pressure in the sea water are related to the glacier microsurges, and the observed profiles of temperature, density, and salinity show the absence or insignificant inflow of fresh water from the glacier in the fjord during the winter season. That means we had to make a different assumption about the vertical velocity profile at the flux gate, as well as account for changes in ice volume between the flux gate and the tidewater glacier grounding lines. Our research team also uses a new combination of satellite-derived ice surface velocity product, airborne radar-derived ice thickness observations and surface mass balance simulations. Paper: Muzylev, S., Macheret, Yu. J., Morozov, E.,G., Lavrentiev, I.I., Marchenko, A.V., 2013. 
          a(href='http://ice-snow.igras.ru/index.php/jour/article/view/139', target='_blank') Oscillations of ice cover and sea water pressure near the front of the Tuna Glacier in Spitsbergen. 
          | Led i Sneg, N 4, 119-124
        a.ghost.button(href='http://ice-snow.igras.ru/index.php/jour/article/view/139/63', target='_blank') Read it ↬
      h4 Recent research
      