extends layout

block content
  .row
    img(src='http://www.aber.ac.uk/greenland/images/imagery/russell/laser_mark.jpg', alt='slide 1')
    .content.medium-12.large-12.columns
      h4 Work today
      article.post
        //img.author(alt='person', src='http://www.aber.ac.uk/greenland/images/imagery/russell/laser_mark.jpg')
        h2 Climate change and Greenland Ice Sheet (Western Greenland)
        p.subheader
          | By 
          a(href='http://www.williamcolgan.net/', target='_blank') William Colgan, Ph.D.
          |  Credit: 
          a(href='http://www.aber.ac.uk/greenland/imagery.shtml', target='_blank') Sam Doyle
        p
          | The Geological Survey of Denmark and Greenland (GEUS) estimated that between 2007 and 2011 the Greenland ice sheet alone, not counting all the peripheral glaciers in Greenland, lost 262 Gt of ice per year. That works out to about 8300 tonnes per second. That means the Greenland ice sheet probably weighs 250,000 tonnes less than when you started reading this report. No wonder we can measure its mass loss by gravitational anomalies. The ice sheet is currently losing mass via both surface runoff (the difference between accumulation and melt) and ice dynamics (the production of icebergs). Our research group estimates that runoff comprised about 61 per cent of the ice sheet’s mass loss, or about 5000 tonnes per second, with iceberg production comprising the remaining 3300 tonnes per second of mass loss. Some big numbers that confirm the Greenland ice sheet is presently raising global mean sea level by about 0.73 mm per year. 
          a(href='http://www.igsoc.org/blog/', target='_blank') Publications of International Glaciological Society.
        a.ghost.button(href='http://williamcolgan.net/blog/?p=247', target='_blank') Read it ↬
      h4 Recent research
    .content.medium-12.large-12.columns
      article.post
        //img.author(alt='person', src='http://www.aber.ac.uk/greenland/images/imagery/russell/laser_mark.jpg')
        h2 The iceberg production rate of Russell Glacier, Petermann Glacier, Uummannaq area etc.
        p.subheader
          | By 
          a(href='https://twitter.com/DeformedEarth', target='_blank') Matt King, Prof.
        p
          | Presents the latest research on causality, glacial surges, ice-shelf collapses, sea level rise, climate change implications, and more. Features new insights into the implications of climate change on increased melting, collapsing, flooding, methane emissions, and sea level rise. The Geological Survey of Denmark and Greenland (GEUS) has a new study in Earth and Planetary Science Letters that looks into the mass loss of the Greenland ice sheet. Our research team uses the “input-output” approach, whereby an estimated iceberg production rate is differenced from an estimated snow accumulation rate. The approach we use was slightly different from previous studies because the ice sheet perimeter across which we observed ice flow or the "flux gate" was relatively far inland. Alison, I., W. Colgan, M. King and F. Paul. 2014. Ice Sheets, Glaciers, and Sea Level Rise. 
          a(href='http://store.elsevier.com/Snow-and-Ice-Related-Hazards-Risks-and-Disasters/isbn-9780123948496/', target='_blank') Snow and Ice-Related Hazards, Risks and Disasters.
          W. Haeberli and C. Whiteman. Elsevier. 713-747.
        a.ghost.button(href='http://www.utas.edu.au/profiles/staff/matt-king', target='_blank') Read it ↬
      h4 Recent research
      