extends layout

block content
  .row
    .content.medium-12.large-12.columns
      h2 Programming a drone is easy for our clients!

      p The development and  and prodution Big Data analysis platform and Node.js and get the drone module. All you need to do then is to execute the following code with node. That will make your drone take off, move around, do a flip and carefully land again. Seriously, that’s all!

      
    .content.medium-12.large-12.columns
      h2 Executive Summary 

      p Acryos Corporation is a company whose mission is to enhance productivity within various industries, through increasing automation and improving accessibility to information. We collect valuable data using Next Generation Technologies such as LiDAR, infrared or optical, photogrammetric or streamed live equipment and Polarimetric Radar installed on Unmanned Aircraft System (UAS). We use Advanced Data Analysis such as advanced math and  new algorithms of Machine Learning to provide land and urban analysis for:

      p Civil Security: tracking unusual behavior and/or trajectory of a potential attacker/terrorist; manmade landscape alterations
      p Water Security: Monitoring, Linear Mapping, and Area Mapping
      p Climate Security: Climate change, in both scale and potential impact, is a strategically-significant security risk that will affect most basic resources of our clients, from food to Water to Energy
      p Agriculture: Monitoring and Analysis connected to Climate Change aftermath
