doctype html
html
  head
    title= title
    link(rel='stylesheet', href='stylesheets/style.css')
    link(rel='stylesheet', href='stylesheets/normalize.css')
    link(rel='stylesheet', href='stylesheets/foundation.css')
    script(type='text/javascript', src='js/vendor/modernizr.js')
    script(type='text/javascript', src='js/foundation.min.js')
    script(type='text/javascript', src='js/foundation/foundation.orbit.js')
    script(type='text/javascript', src='js/vendor/jquery.js')
    script.
      $(document).foundation();
  body
    
    nav.top-bar(data-topbar='', role='navigation')
      ul.title-area
        li.name
          h1
            a(href='/') #{title}
        //Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone
        li.toggle-topbar.menu-icon
          a(href='#')
            span Menu
      section.top-bar-section
        ul.right
          li.active
            a(href='team') Staff
          li
            a(href='situation') Climate Security
          //li.has-dropdown
          //a(href='icebergs') Executive Summary
          //ul.dropdown
          //li
          //a(href='#') Icebergs in Newfoundland and Labrador
          //li.active
          //a(href='#') Being a global leader in Arctic Science
        //ul.left
        //li
        //a(href='situation') Climate Security
    block content
