extends layout

block content
  .row
    .content.medium-3.columns
      img(src='images/10501971_1555432795190183_6167609998447912512_f.jpg', alt='slide 1a')
    .content.medium-3.columns
      img(src='images/105v3871_15214327951f0183_6a6760999848s912512_b.jpg', alt='slide 1b') 
    .content.medium-3.columns
      img(src='images/11083611_1554432841793845_479855237866343834_j.jpg', alt='slide 3') 
    .content.medium-3.columns
      img(src='images/1104w379_1a6099731x507064_w094680157s41185142_c.jpg', alt='slide 4')           
    .content.medium-12.large-12.columns
      h4 Work today
      article.post
        img.author(alt='person', src='images/logo-hi-res.png')
        h2
          | Problems of Navigation in Ice Covered Waters
        p.subheader
          | By 
          a(href='http://radar-technology.com/contact-us', target='_blank') Mr. Sten Wärnfeldt
        p
          | Mariners of local community should beware of leads in pack ice, which may suddenly end at an iceberg. Because icebergs project deep into the water column, they are affected more by ocean currents and less by winds than the surrounding sea ice. This may result in differential motion and the creation by the iceberg of an open water track through the pack ice. Generally, the same comments apply to bergy bits and growlers as to icebergs. However, the smaller size of these hazards means they are often more difficult to detect than icebergs and, therefore, are very dangerous. Special care must be taken in watching out for bergy bits and growlers. They may be well hidden by white caps in the open sea or by rubbled ice. Their shape may make even larger bergy bits difficult to detect using marine radar, when the freeboard is relatively small and if the sides are oriented to deflect radar energy away from the antennae. Bergy bits and growlers are the most dangerous hazards to ships in ice-covered waters. It is impossible to rely solely on marine radar to detect icebergs, particularly glacial ice, bergy bits and growlers in fog and darkness. The navigator must watch for bergy bits and growlers at all times when in bergy waters​.  
        a.ghost.button(href='http://radar-technology.com/applications/arctic/ice-pieces-in-water', target='_blank') Read it ↬
      h4 Recent research
    .content.medium-12.large-12.columns
      article.post
        img.author(alt='person', src='images/logo-hi-res.png')
        h2 Problems of iceberg scour and coastal erosions
        p.subheader
          | By 
          a(href='https://twitter.com/AdamKashtanov', target='_blank') Adam Kashtanov, Ph.D. 
        p
          | Seabed gouging by ice is a process that occurs when floating ice features (typically icebergs and sea ice ridges) drift into shallower areas and their keel comes into contact with the seabed. As they keep drifting, they produce long, narrow furrows most often called gouges, or scours This phenomenon is common in offshore environments where ice is known to exist. Seabed scours produced via this mechanism should not be confused with strudel scours. These result from spring runoff water flowing onto the surface of a given sea ice expanse, which eventually drains away through cracks, seal breathing holes, etc. The resulting turbulence is strong enough to carve a depression into the seabed. Seabed scouring by ice should also be distinguished from another scouring mechanism: the erosion of the sediments around a structure due to water currents, a well known issue in ocean engineering and river hydraulics. 
          a(href='http://www.igsoc.org/blog/', target='_blank') Publications of International Glaciological Society.
        a.ghost.button(href='http://ice-snow.igras.ru/index.php/jour', target='_blank') Read it ↬
      h4 Recent research
      