extends layout

block content
  .row
    .content.medium-12.large-12.columns
      h4 Work today
        h2
          | Climate change and Western Greenland Ice Streams
        p.subheader
          | By 
          a(href='http://www.williamcolgan.net/', target='_blank') William Colgan, Ph.D.
        p
          | The Geological Survey of Denmark and Greenland (GEUS) estimated that between 2007 and 2011 the Greenland ice sheet alone, not counting all the peripheral glaciers in Greenland, lost 262 Gt of ice per year. That works out to about 8300 tonnes per second. That means the Greenland ice sheet probably weighs 250,000 tonnes less than when you started reading this report. No wonder we can measure its mass loss by gravitational anomalies. The ice sheet is currently losing mass via both surface runoff (the difference between accumulation and melt) and ice dynamics (the production of icebergs). Our research group estimates that runoff comprised about 61 per cent of the ice sheet’s mass loss, or about 5000 tonnes per second, with iceberg production comprising the remaining 3300 tonnes per second of mass loss. Some big numbers that confirm the Greenland ice sheet is presently raising global mean sea level by about 0.73 mm per year. 
          a(href='http://www.igsoc.org/blog/', target='_blank') Publications of International Glaciological Society.
        a.ghost.button(href='http://williamcolgan.net/blog/?p=247', target='_blank') Read it ↬
    .content.medium-12.large-12.columns
      h4 Recent research
        h2 The new combination of Radar for sea & glacier ice
        p.subheader
          | By 
          a(href='http://igras.ru/en/staff/97', target='_blank') Ivan Lavrentiev, Ph.D. 
          | and 
          a(href='http://www.unis.no/staff/aleksey-marchenko/', target='_blank') Aleksey Marchenko, Prof.

        p
          | Results of oceanographic measurements carried out, from the sea ice surface in the Tempelfjorden near the Tunabreen front in Svalbard are presented. Two temperature and pressure recorders were deployed on a wire from the ice approximately 300 m from the glacier front. The sampling time interval was 1 s. A pressure recorder was located under them on the bottom with a sampling interval of 6 s. Pressure oscillations on the bottom with a period of 90 s and ice cover oscillations with periods of 10 s and 14 s were recorded. The conclusion is made that the recorded oscillations of pressure in the sea water are related to the glacier microsurges, and the observed profiles of temperature, density, and salinity show the absence or insignificant inflow of fresh water from the glacier in the fjord during the winter season. That means we had to make a different assumption about the vertical velocity profile at the flux gate, as well as account for changes in ice volume between the flux gate and the tidewater glacier grounding lines. Our research team also uses a new combination of satellite-derived ice surface velocity product, airborne radar-derived ice thickness observations and surface mass balance simulations. Paper: Muzylev, S., Macheret, Yu. J., Morozov, E.,G., Lavrentiev, I.I., Marchenko, A.V., 2013. 
          a(href='http://ice-snow.igras.ru/index.php/jour/article/view/139', target='_blank') Oscillations of ice cover and sea water pressure near the front of the Tuna Glacier in Spitsbergen. 
          | Led i Sneg, N 4, 119-124
        a.ghost.button(href='http://ice-snow.igras.ru/index.php/jour/article/view/139/63', target='_blank') Read it ↬        
    .content.medium-12.large-12.columns
      h4 Recent research
        h2
          | Problems of Navigation in Ice Covered Waters
        p.subheader
          | By 
          a(href='http://radar-technology.com/contact-us', target='_blank') Mr. Sten Wärnfeldt
        p
          | Mariners of local community should beware of leads in pack ice, which may suddenly end at an iceberg. Because icebergs project deep into the water column, they are affected more by ocean currents and less by winds than the surrounding sea ice. This may result in differential motion and the creation by the iceberg of an open water track through the pack ice. Generally, the same comments apply to bergy bits and growlers as to icebergs. However, the smaller size of these hazards means they are often more difficult to detect than icebergs and, therefore, are very dangerous. Special care must be taken in watching out for bergy bits and growlers. They may be well hidden by white caps in the open sea or by rubbled ice. Their shape may make even larger bergy bits difficult to detect using marine radar, when the freeboard is relatively small and if the sides are oriented to deflect radar energy away from the antennae. Bergy bits and growlers are the most dangerous hazards to ships in ice-covered waters. It is impossible to rely solely on marine radar to detect icebergs, particularly glacial ice, bergy bits and growlers in fog and darkness. The navigator must watch for bergy bits and growlers at all times when in bergy waters​.  
        a.ghost.button(href='http://radar-technology.com/applications/arctic/ice-pieces-in-water', target='_blank') Read it ↬
    .content.medium-12.large-12.columns
      h4 Recent research
        h2 Problems of iceberg scour and coastal erosions
        p.subheader
          | By 
          a(href='https://twitter.com/AdamKashtanov', target='_blank') Adam Kashtanov, Ph.D. 
        p
          | Seabed gouging by ice is a process that occurs when floating ice features (typically icebergs and sea ice ridges) drift into shallower areas and their keel comes into contact with the seabed. As they keep drifting, they produce long, narrow furrows most often called gouges, or scours This phenomenon is common in offshore environments where ice is known to exist. Seabed scours produced via this mechanism should not be confused with strudel scours. These result from spring runoff water flowing onto the surface of a given sea ice expanse, which eventually drains away through cracks, seal breathing holes, etc. The resulting turbulence is strong enough to carve a depression into the seabed. Seabed scouring by ice should also be distinguished from another scouring mechanism: the erosion of the sediments around a structure due to water currents, a well known issue in ocean engineering and river hydraulics. 
          a(href='http://www.igsoc.org/blog/', target='_blank') Publications of International Glaciological Society.
        a.ghost.button(href='http://ice-snow.igras.ru/index.php/jour', target='_blank') Read it ↬
      