extends layout

block content
  .row
    .content.medium-3.columns
      img(src='https://pbs.twimg.com/profile_images/441357725880950784/T167BUbu.png', alt='slide 1')
    .content.medium-3.columns
      img(src='https://pbs.twimg.com/profile_images/3635617169/69bb1b37f560347a1f1c028582ba6058.jpeg', alt='slide 1')
    .content.medium-3.columns
      img(src='https://pbs.twimg.com/profile_images/425725293878206465/_zAiBtP_.jpeg', alt='slide 1')
    .content.medium-3.columns
      img(src='https://pbs.twimg.com/profile_images/459299732502740992/7e-7aeCD.jpeg', alt='slide 1')
    .content.medium-12.large-12.columns
      h4 Working group
      article.post
        h2 LL.M. Ester Kashtanov
        p
          | Science Team leader, CEO at ACC Corp., Newfoundland and Labrador, Canada. Businesswoman, lawyer and international affairs specialist. Her group research is focused on climate change and its impact on life of local communities connected to Greenland Ice Sheet, sea ice and icebergs. With 20 years of experience we provide consultation and support, our know-how in modeling and monitoring self-organized critical geosystems including ice sheet dynamics, calving glaciers, mesoscale dynamic-thermodynamic modeling of sea ice and icebergs drift and iceberg water harvesting.
        a.ghost.button(href='https://twitter.com/esterkashtanov', target='_blank') Read it ↬
      h4 Background
    .content.medium-12.large-12.columns
      article.post
        h2 Ph.D. Adam Kashtanov
        p
          | Benefactor at International Glaciological Society (IGS), the entrepreneur and Ph.D. in Geography, geoscience mathematician and glaciologist. Research Scientist & Co-founder at Applied Cryospheric Consulting Corp., Newfoundland and Labrador, Canada
        a.ghost.button(href='https://twitter.com/AdamKashtanov', target='_blank') Read it ↬
      h4 Recent research
    .content.medium-12.large-12.columns
      article.post
        h2 The active members of International Glaciological Society (IGS) in Canada
        p
          | The International Glaciological Society was founded in 1936 to provide a focus for individuals interested in practical and scientific aspects of snow and ice. The main objects of IGS are stimulate interest in and encourage research into the scientific and technical problems of snow and ice and facilitate and increase the flow of glaciological ideas and information.
        p
          | Founder: Gerald Seligman
        p
          | President: Douglas R. MacAyeal
        p
          | Secretary General: Magnús Már Magnússon
        a.ghost.button(href='http://www.igsoc.org/about/', target='_blank') Read it ↬
      h4 Constitution
      