extends layout

block content
  .row
    .content.medium-12.large-12.columns
      h4 Team leaders
      h2 LL.M. Ester Kashtanov
      p Science Team leader, CEO at Acryos Corp. Businesswoman, lawyer and international affairs specialist. Her group research is focused on climate change and its impact on life of local communities connected to Greenland Ice Sheet, sea ice and icebergs. With 20 years of experience we provide consultation and support, our know-how in modeling and monitoring self-organized critical geosystems including Dangerous Erosional and Mass movement processes: earthflow and etc, snow avalanches, ice sheet dynamics, calving glaciers, mesoscale dynamic-thermodynamic modeling of sea ice and icebergs drift and iceberg. Development of projects Water harvesting and Water Security.
    .content.medium-12.large-12.columns
      h2 Ph.D. Adam Kashtanov
      p Senior Research Scientist & Co-founder at Acryos Corp. led an incredible 20+ year career as an internationally researcher in geoscience business and Mobile Cyber Security development and and stochastic dynamic programming. Benefactor at International Glaciological Society (IGS), the entrepreneur and Ph.D. in Geography, geoscience mathematician and glaciologist. His research is focused on Cryosphere of the Northern and Southern Hemisphere, including Arctic, Antarctic and High mountain land ice and sea ice. Airborne imaging techniques using digital aerial photography and scanning LiDAR and Radar to estimate risk of Dangerous Erosional and Mass movement processes: earthflow and etc, snow avalanches, calving glaciers, ground icebergs and sea ice thickness, drift and mechanical properties of ice. This information is used to check remote sensing data collected by satellites and others devices which is used by other Climate Change and Social Adaptation research programs.
