extends layout

block content
  .row
    .content.medium-3.columns
      img(src='https://pbs.twimg.com/profile_images/441357725880950784/T167BUbu.png', alt='slide 1')
    .content.medium-3.columns
      img(src='https://pbs.twimg.com/profile_images/519475057815351297/bnjdao6s.jpeg', alt='slide 1')
    .content.medium-3.columns
      img(src='https://pbs.twimg.com/profile_images/425725293878206465/_zAiBtP_.jpeg', alt='slide 1')
    .content.medium-3.columns
      img(src='https://pbs.twimg.com/profile_images/433958849662300160/tJBdBOLw.jpeg', alt='slide 1')
    .content.medium-3.large-12.columns
      h4 Working group
      article.post
        h2 LL.M. Ester Kashtanov
        p
          | Science Team leader, CEO at ACC Corp., Newfoundland and Labrador, Canada. Businesswoman, lawyer and international affairs specialist. Her group research is focused on climate change and its impact on life of local communities connected to Greenland Ice Sheet, sea ice and icebergs. With 20 years of experience we provide consultation and support, our know-how in modeling and monitoring self-organized critical geosystems including ice sheet dynamics, calving glaciers, mesoscale dynamic-thermodynamic modeling of sea ice and icebergs drift and iceberg water harvesting.
        a.ghost.button(href='https://twitter.com/esterkashtanov', target='_blank') Read it ↬
      h4 Background
    .content.medium-3.large-12.columns
      article.post
        h2 Ph.D. William Colgan
        p
          | Assistant professor in the Department of Earth and Space Science and Engineering at York University in Toronto, Canada and an adjunct research associate at the Cooperative Institute for Research in Environmental Sciences (CIRES) in Boulder, Colorado. The currently serving on the International Glaciological Society (IGS) executive council and publications committee, as well as the Canadian Cryospheric Information Network (CCIN) advisory council. Ph.D. in Geography at the University of Colorado, USA
        a.ghost.button(href='https://twitter.com/GlacierBytes', target='_blank') Read it ↬
      h4 Recent research
    .content.medium-3.large-12.columns
      article.post
        h2 Ph.D. Adam Kashtanov
        p
          | Benefactor at International Glaciological Society (IGS), the entrepreneur and Ph.D. in Geography, geoscience mathematician and glaciologist. Research Scientist & Co-founder at Applied Cryospheric Consulting Corp., Newfoundland and Labrador, Canada
        a.ghost.button(href='https://twitter.com/AdamKashtanov', target='_blank') Read it ↬
      h4 Recent research
      